doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:url" content="https://ryu-g-content.netlify.app/")
    meta(property="og:description" content="つくったやつ")
    meta(property="og:site_name" content="ryu-g works mini")
    meta(property="og:image" content="https://pbs.twimg.com/media/E6JWTVCUUAE97So.jpg")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:description" content="つくったやつ")
    meta(name="twitter:image" content="https://pbs.twimg.com/media/E6JWTVCUUAE97So.jpg")

    title ryu-g works mini
  body
    section.aboutMe
      h3#me
        a(href = 'https://twitter.com/a3y53') わたし(@a3y53)について
      p オタクです
      p 曲やロゴを作る(倒置法)

      //- p
      //-   a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false") Tweet

    section.logos
      .work
        .thumbnail
          img(src="./amelog.jpeg", alt="")
        .context
          h3 アメログ / アプリケーションロゴデザイン
          span.logo logo
          p 「雨の日の観光スポット」を教えてくれるGPS搭載傘+スマートフォンアプリケーション、アメログのインターフェースデザイン及びロゴデザインを行いました
          | (SPAJAM2019 東京B予選優秀賞)
          p
            a(href = "https://history.spajam.jp/2019/entry/tokyo-b/" target="_blank") https://history.spajam.jp/2019/entry/tokyo-b/
      .work
        .thumbnail
          img(src="./posted.jpeg", alt="")
        .context
          h3 Posted / アプリケーションロゴデザイン
          span.logo logo
          p 郵便物の自動判別と撮影、そのデータを携帯アプリに送信する外付デバイスおよび受信データの通知・閲覧アプリケーション、Posted - ポステッドのインターフェースデザイン及びロゴデザインを行いました。
          | (SPAJAM2019本戦 最優秀賞)
          p
            a(href = "https://history.spajam.jp/2019/final/result/" target="_blank") https://history.spajam.jp/2019/final/result/
      .work
        .thumbnail
          img(src="./yuzuka.png", alt="")
        .context
          h3 神無月ユズカ ロゴデザイン
          span.logo logo
          p hello, world from virtual world!
          p Virtual youtuber / Virtual XR Engineer である「神無月ユズカ」様のロゴ制作を行いました。
          | カラーリング・模様はキャラクターの纏う衣服のモチーフを活用し表現しています。
          p 
            a(href = "https://www.youtube.com/channel/UCasWQI-PbOFKIbu1xGMDmkQ" target="_blank") KANNADUKI Ch. 神無月ユズカ
          p
            a(href = "https://twitter.com/a3y53/status/1188683578659328001?s=20" target="_blank") https://twitter.com/a3y53/status/1188683578659328001?s=20
      .work
        .thumbnail
          img(src="./burningAnt.jpeg", alt="")
        .context
          h3 Burning・Ant ロゴデザイン
          span.logo logo
          p 家庭に蔓延る蟻のことごとくを家ごと確実に焼却してくれる！
          p 主婦の味方！アリ駆除専門のバーニング・アントのロゴを制作させていただきました！燃やして解決！
          p という架空のサービス
            a(href = "https://twitter.com/a3y53/status/1153325474229059584?s=20" target="_blank") https://twitter.com/a3y53/status/1153325474229059584?s=20
      .work
        .thumbnail
          img(src="./3rd.jpeg", alt="")
        .context
          h3 第三隔壁 ロゴデザイン
          span.logo logo
          p null reference exception さんの「隔壁シリーズ」三作目、「第三隔壁」のロゴデザインを担当させていただきました。
          | 前作の戦略兵器争奪戦のその後、筆者も知らない一作目の"あいつ"が暗躍するそうです。一体誰なんでしょう。
          | 破られた一枚目、二枚目に続く、存在しない物語は圧巻です。
          p
            a(href = "https://twitter.com/a3y53/status/1138780032577331200?s=20" target="_blank") https://twitter.com/a3y53/status/1138780032577331200?s=20
      .work
        .thumbnail
          img(src="./3honshika.jpeg", alt="")
        .context
          h3 三本鹿の復讐
          span.logo logo
          p 「ユニコーンを現実に」ーーーある野望を抱いた研究者は、鹿同士を頭突きさせ続けることで、世代を経て一本角を持つ馬への突然変異を待ち続ける。しかし生まれたのは、ユニコーンではなく角が増えた鹿であった。
          |これは人間の都合で遺伝子を振り回された鹿の末裔が、祖先の敵を討つ物語。という話を妄想しながら作りました。
          p
            a(href ="https://twitter.com/a3y53/status/1153326691592261632?s=20" target="_blank") https://twitter.com/a3y53/status/1153326691592261632?s=20
      .work
        .thumbnail
          img(src="./kasuniminikanLove.jpeg", alt="")
        .context
          h3 カスニミニカン・ラヴ ロゴデザイン
          span.logo logo
          p 失われゆく心を持つ、破棄された3体の機械たちの物語を妄想しながら制作しました。失うも何もそんな作品ありませんが。
          p 「カスニミニカン」は造語です。どんな意味か、みなさんも考えてみてください。
          p 
            a(href = "https://twitter.com/a3y53/status/1138396273902407681?s=20" target="_blank") https://twitter.com/a3y53/status/1138396273902407681?s=20
      .work
        .thumbnail
          img(src="./aelia.jpeg", alt="")
        .context
          h3 AELIA ロゴデザイン
          span.logo logo
          p ロゴのお題を出してもらった「AELIA」という文字列をもとに制作開始しました。過去に作った夜空のイラストをクリップして用いています。
          p 宇宙の「とある星」を舞台とした物語を妄想して構築しました。
          p
            a(href = "https://twitter.com/a3y53/status/1139153486250045440?s=20" target="_blank") https://twitter.com/a3y53/status/1139153486250045440?s=20
      .work
        .thumbnail
          img(src="./cerebrum.png", alt="")
        .context
          h3 cerebrum ロゴデザイン
          span.logo logo
          p 今季放送中のオリジナルアニメーション「cerebrum(ケレブラム)」のロゴを担当しました。
          p 物語はとある猟奇殺人事件に端を発し、その捜査に関わった組織や住民の脳がめちゃくちゃにされてしまいますが、実はそんな事件は起こってませんし、こんなアニメも放送されません。さようなら。
          p 
            a(href = "https://twitter.com/a3y53/status/1318200795888668674?s=20" target="_blank") https://twitter.com/a3y53/status/1318200795888668674?s=20
      .work
        .thumbnail
          img(src="./hogehoge.png", alt="")
        .context
          h3 おまけ(サービス名は秘密)
          span.logo logo
          p goolge meetが複数人数での通話に時間制限をかけちゃったため、友人がマッハで通話サービスを作ってくれました。
          p なので、マッハでそれにあてたロゴマークです。
          p 珍しく保存していたメイキングは
            a(href = "https://twitter.com/a3y53/status/1411973100481089536?s=20" target="_blank") こちら
      .work
        .thumbnail
          img(src="./parasomnia-x.png", alt="")
        .context
          h3.flag-icon PARASOMNIA - パラソムニア ロゴ
          span.logo logo
          p リハビリに手書きしまくった草案の中にあった意匠の一つをもとに作成
          p 手書き段階で何を考えながら作ったのかは覚えてないが、パラソムニアは夢遊病という意味らしい
        .thumbnail
          img(src="./parasomnia-x-making.png", alt="")
        
      .work
        .thumbnail
          img(src="./bb.png", alt="")
        .context
          h3.flag-icon 機動部隊BB ロゴ
          span.logo logo
          p パラソムニア同様、リハビリに手書きしまくった草案の中にあった意匠の一つをもとに作成
          p これは存在しないシナリオまでまで想像しながら作って楽しかった
          details
            summary 落書きあらすじ
            p かつて、宙外種 - スペースベノム との大戦争が起きた際の激戦区に派遣された機動部隊第133小隊が、人類の平和と引き換えにその消息を絶ってから32年、事は憲兵の連続行方不明事件に端を発する。
            p 行方不明とされていた兵士たちは｢なにか｣に侵された状態で制御不能な反乱兵と化し、人々を蹂躙し始める。
            p 兵士たちを変えたのは、根絶されたと思われていた宙外種 - スペースベノム であった。それらは死に絶えておらず、平和にあぐらをかいた人類に逆襲すべく機会を伺っていたのだった。
            p 優秀な人間の脳を喰らい、肉体を乗っ取り、成長することで人類を脅かす宙外種 - スペースベノム の侵攻に際し、平和な時代で育ったものたちには打つ手が無く、戦う力のあるものたちは宙外種 - スペースベノム に侵食され、市民は混乱の最中になすすべもなく捕食され、権力者は我先に逃亡。国家は急速に機能不全に陥り、数少ない戦力である憲兵団も壊滅間際の有り様となった。
            p 混乱の中、生き残ったひとりの憲兵のもとに、｢BB｣を名乗る数人の老人たちが現れる。
            
          a(href = "https://x.com/a3y53/status/1832765603892822135" target="_blank") https://x.com/a3y53/status/1832765603892822135
          


    section.musics
      .work
        iframe(width="450" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/735348007&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true")
          div(style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;")
            a(href="https://soundcloud.com/em-ryu-g/remember" title="remember" target="_blank" style="color: #cccccc; text-decoration: none;") ryu-g remember
        .context
          h3 remember
          span.music MUSIC
          span.illust illust
          p konamiのsound voltexの the 9th KACに応募した楽曲です。(落選)
          p 無いロゴ同様、こちらもエピソードを想像しながら制作しました。ジャケのドットイラストも自分で打ってます。
          p 「覚えていますか？あの楽しかった日々を」といった感じ
      .work 
        iframe(width="450" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1072002010&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true")
          div(style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;")
            a(href="https://soundcloud.com/em-ryu-g/aelia" title="ryu-g" target="_blank" style="color: #cccccc; text-decoration: none;") ryu-g AELIA
        .context
          h3 AELIA
          span.music MUSIC
          p the 10th KONAMI Arcade Championship (KAC) に応募した楽曲(落選)
          p 9thで落選したrememberで用いたフレーズを基軸に再構築しました。
          p ジャケットおよび名前はAELIAのものを使用。
      .work
        iframe(width="450" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1410854248&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true")
          div(style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;")
            a(href="https://soundcloud.com/em-ryu-g/aelia" title="ryu-g" target="_blank" style="color: #cccccc; text-decoration: none;") ryu-g JUKE BOX 
        .context
          h3.flag-icon JUKE BOX 
          span.music MUSIC
          p 友人が始めた、身内用のラジオ番組のOPテーマ曲として制作･提供
          p お気に入りの曲のひとつ。かわいい系
      .work
        iframe(width="450" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1606583013&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true")
          div(style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;")
            a(href="https://soundcloud.com/em-ryu-g/aelia" title="ryu-g" target="_blank" style="color: #cccccc; text-decoration: none;") ryu-g ultrasonic  
        .context
          h3.flag-icon ultrasonic 
          span.music MUSIC
          span.illust illust
          p KACに再挑戦しようと思い作り始めて、完成まで1年半以上こねくり回す羽目になり、ついぞ公募に出さなかった作品
          p お気に入りの曲のひとつ。騒がしい系
          p これの制作過程でvitalというシンセサイザー(無料で使える!)を覚えられてよかった
    
    section.devs
      .work
        .thumbnail
          img(src="plainplane.png", alt="")
        .context
          h3 PlainPlane - jsでゲームを作りたい
          span.dev GAME
          p 飛行機を操作して対戦するゲームを作ろうとしてた(2021年)
          p 今はカカシを倒すサンプル状態で公開されています。PC推奨
          p Q・Wで武装を強化できるよ
          p
            a(href ='https://plain-plane.netlify.app/' target="_blank") PLAY : https://plain-plane.netlify.app/ 


script(src = './app.js' type ='module')  
script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")