doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:url" content="https://ryu-g-content.netlify.app/")
    meta(property="og:description" content="ã¤ãã£ãŸã‚„ã¤")
    meta(property="og:site_name" content="ryu-g works mini")
    meta(property="og:image" content="https://pbs.twimg.com/media/E6JWTVCUUAE97So.jpg")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:description" content="ã¤ãã£ãŸã‚„ã¤")
    meta(name="twitter:image" content="https://pbs.twimg.com/media/E6JWTVCUUAE97So.jpg")

    title ryu-g works mini
  body
    section.aboutMe
      h1
        a#me(href = 'https://twitter.com/a3y53', target = "_blank")
      p ã‚ªã‚¿ã‚¯ã§ã™ã€‚æ›²ã‚„ãƒ­ã‚´ã‚’ä½œã‚‹(å€’ç½®æ³•)
      p åˆ¶ä½œã—ãŸã‚‚ã®ã®ã†ã¡æ°—ãŒå‘ã„ãŸã‚‚ã®ã‚’è©°ã‚è¾¼ã‚“ã§ä¸€è¦§ã§æ¥½ã—ã‚ã‚‹ã‚ˆã†ã«ã—ã¦ã‚‹ã€ãƒã‚±ãƒƒãƒˆã®ä¸­ã¿ãŸã„ãªæ„Ÿã˜
      h2 æ›´æ–°å±¥æ­´
      p 2025.07.03 : <a class="l" href="#chorwakanimania">Chor Wakanimaniaãƒ­ã‚´</a>ã®èª¬æ˜ãŒæ›´æ–°ã•ã‚Œã¾ã—ãŸã€‚
      p 2025.06.05 : éŸ³æ¥½ï½¥ãƒ­ã‚´ãŒè¿½åŠ ã•ã‚Œã¾ã—ãŸã€‚
      details 
        summary éå»ã®æ›´æ–°
        li 2024.09.19 : éŸ³æ¥½ãŒè¿½åŠ ã•ã‚Œã¾ã—ãŸã€‚
        li 2024.09.17 : ãƒ­ã‚´ï½¥éŸ³æ¥½ãŒè¿½åŠ ã•ã‚Œã¾ã—ãŸã€‚
        li 2021.06.13 : portofolioday å…¬é–‹
      h2 ç¾åœ¨ç¢ºèªã•ã‚Œã¦ã„ã‚‹ä¸å…·åˆ
      p 2024.09.19 : ä¸€éƒ¨ã®æºå¸¯ç«¯æœ«ã§ã€ãƒšãƒ¼ã‚¸ã‚’é–‹ã„ãŸæ™‚ç‚¹ã§ã®æ‹¡å¤§å€ç‡ãŒé©åˆ‡ã§ã¯ãªã„å ´åˆãŒã‚ã‚Šã¾ã™ã€‚
      h2 ãã®ä»–ç´°ã‹ã„è©±
      details 
        summary ã‚¯ãƒªãƒƒã‚¯ã§å†…å®¹ã‚’èª­ã‚€ã“ã¨ãŒã§ãã‚‹ã!
        li 2025.07.01 : æš‘ã™ãã‚‹ <br>
        li 2024.09.19 : ãƒšãƒ¼ã‚¸æœ€ä¸Šéƒ¨ã‚¢ã‚¤ã‚³ãƒ³ã‚¯ãƒªãƒƒã‚¯æ™‚ã«æ–°è¦ã‚¿ãƒ–ã‚’é–‹ãã‚ˆã†ã«å¤‰æ›´
      //- p
      //-   a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false") Tweet

    section.logos
      .work
        .thumbnail
          img(src="./amelog.jpeg", alt="")
        .context
          h3 ã‚¢ãƒ¡ãƒ­ã‚° / ã‚¢ãƒ—ãƒªã‚±ãƒ¼ã‚·ãƒ§ãƒ³ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³
          span.logo logo
          p ã€Œé›¨ã®æ—¥ã®è¦³å…‰ã‚¹ãƒãƒƒãƒˆã€ã‚’æ•™ãˆã¦ãã‚Œã‚‹GPSæ­è¼‰å‚˜+ã‚¹ãƒãƒ¼ãƒˆãƒ•ã‚©ãƒ³ã‚¢ãƒ—ãƒªã‚±ãƒ¼ã‚·ãƒ§ãƒ³ã€ã‚¢ãƒ¡ãƒ­ã‚°ã®ã‚¤ãƒ³ã‚¿ãƒ¼ãƒ•ã‚§ãƒ¼ã‚¹ãƒ‡ã‚¶ã‚¤ãƒ³åŠã³ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³ã‚’è¡Œã„ã¾ã—ãŸ
          | (SPAJAM2019 æ±äº¬Bäºˆé¸å„ªç§€è³)
          p
            a(href = "https://history.spajam.jp/2019/entry/tokyo-b/" target="_blank") https://history.spajam.jp/2019/entry/tokyo-b/
      .work
        .thumbnail
          img(src="./posted.jpeg", alt="")
        .context
          h3 Posted / ã‚¢ãƒ—ãƒªã‚±ãƒ¼ã‚·ãƒ§ãƒ³ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³
          span.logo logo
          p éƒµä¾¿ç‰©ã®è‡ªå‹•åˆ¤åˆ¥ã¨æ’®å½±ã€ãã®ãƒ‡ãƒ¼ã‚¿ã‚’æºå¸¯ã‚¢ãƒ—ãƒªã«é€ä¿¡ã™ã‚‹å¤–ä»˜ãƒ‡ãƒã‚¤ã‚¹ãŠã‚ˆã³å—ä¿¡ãƒ‡ãƒ¼ã‚¿ã®é€šçŸ¥ãƒ»é–²è¦§ã‚¢ãƒ—ãƒªã‚±ãƒ¼ã‚·ãƒ§ãƒ³ã€Posted - ãƒã‚¹ãƒ†ãƒƒãƒ‰ã®ã‚¤ãƒ³ã‚¿ãƒ¼ãƒ•ã‚§ãƒ¼ã‚¹ãƒ‡ã‚¶ã‚¤ãƒ³åŠã³ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³ã‚’è¡Œã„ã¾ã—ãŸ
          | (SPAJAM2019æœ¬æˆ¦ æœ€å„ªç§€è³)
          p
            a(href = "https://history.spajam.jp/2019/final/result/" target="_blank") https://history.spajam.jp/2019/final/result/
      .work
        .thumbnail
          img(src="./yuzuka.png", alt="")
        .context
          h3 ç¥ç„¡æœˆãƒ¦ã‚ºã‚« ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³
          span.logo logo
          p hello, world from virtual world!
          p Virtual youtuber / Virtual XR Engineer ã§ã‚ã‚‹ã€Œç¥ç„¡æœˆãƒ¦ã‚ºã‚«ã€æ§˜ã®ãƒ­ã‚´åˆ¶ä½œã‚’è¡Œã„ã¾ã—ãŸ
          p ã‚«ãƒ©ãƒ¼ãƒªãƒ³ã‚°ãƒ»æ¨¡æ§˜ã¯ã‚­ãƒ£ãƒ©ã‚¯ã‚¿ãƒ¼ã®çºã†è¡£æœã®ãƒ¢ãƒãƒ¼ãƒ•ã‚’æ´»ç”¨ã—è¡¨ç¾ã—ã¦ã„ã¾ã™
          p 
            a.letsgo(href = "https://www.youtube.com/channel/UCasWQI-PbOFKIbu1xGMDmkQ" target="_blank") KANNADUKI Ch. ç¥ç„¡æœˆãƒ¦ã‚ºã‚«
          p
            a(href = "https://twitter.com/a3y53/status/1188683578659328001?s=20" target="_blank") https://twitter.com/a3y53/status/1188683578659328001?s=20
      .work
        .thumbnail
          img(src="./burningAnt.jpeg", alt="")
        .context
          h3 Burningãƒ»Ant ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³
          span.logo logo
          p å®¶åº­ã«è”“å»¶ã‚‹èŸ»ã®ã“ã¨ã”ã¨ãã‚’å®¶ã”ã¨ç¢ºå®Ÿã«ç„¼å´ã—ã¦ãã‚Œã‚‹ï¼
          p ä¸»å©¦ã®å‘³æ–¹ï¼ã‚¢ãƒªé§†é™¤å°‚é–€ã®ãƒãƒ¼ãƒ‹ãƒ³ã‚°ãƒ»ã‚¢ãƒ³ãƒˆã®ãƒ­ã‚´ã‚’åˆ¶ä½œã•ã›ã¦ã„ãŸã ãã¾ã—ãŸï¼ç‡ƒã‚„ã—ã¦è§£æ±ºï¼
          p ã¨ã„ã†æ¶ç©ºã®ã‚µãƒ¼ãƒ“ã‚¹
            a(href = "https://twitter.com/a3y53/status/1153325474229059584?s=20" target="_blank") https://twitter.com/a3y53/status/1153325474229059584?s=20
      .work
        .thumbnail
          img(src="./3rd.jpeg", alt="")
        .context
          h3 ç¬¬ä¸‰éš”å£ ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³
          span.logo logo
          p null reference exception ã•ã‚“ã®ã€Œéš”å£ã‚·ãƒªãƒ¼ã‚ºã€ä¸‰ä½œç›®ã€ã€Œç¬¬ä¸‰éš”å£ã€ã®ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³ã‚’æ‹…å½“ã•ã›ã¦ã„ãŸã ãã¾ã—ãŸ
          | å‰ä½œã®æˆ¦ç•¥å…µå™¨äº‰å¥ªæˆ¦ã®ãã®å¾Œã€ç­†è€…ã‚‚çŸ¥ã‚‰ãªã„ä¸€ä½œç›®ã®"ã‚ã„ã¤"ãŒæš—èºã™ã‚‹ãã†ã§ã™ä¸€ä½“èª°ãªã‚“ã§ã—ã‚‡ã†
          | ç ´ã‚‰ã‚ŒãŸä¸€æšç›®ã€äºŒæšç›®ã«ç¶šãã€å­˜åœ¨ã—ãªã„ç‰©èªã¯åœ§å·»ã§ã™
          p
            a(href = "https://twitter.com/a3y53/status/1138780032577331200?s=20" target="_blank") https://twitter.com/a3y53/status/1138780032577331200?s=20
      .work
        .thumbnail
          img(src="./3honshika.jpeg", alt="")
        .context
          h3 ä¸‰æœ¬é¹¿ã®å¾©è®
          span.logo logo
          p ã€Œãƒ¦ãƒ‹ã‚³ãƒ¼ãƒ³ã‚’ç¾å®Ÿã«ã€ãƒ¼ãƒ¼ãƒ¼ã‚ã‚‹é‡æœ›ã‚’æŠ±ã„ãŸç ”ç©¶è€…ã¯ã€é¹¿åŒå£«ã‚’é ­çªãã•ã›ç¶šã‘ã‚‹ã“ã¨ã§ã€ä¸–ä»£ã‚’çµŒã¦ä¸€æœ¬è§’ã‚’æŒã¤é¦¬ã¸ã®çªç„¶å¤‰ç•°ã‚’å¾…ã¡ç¶šã‘ã‚‹ã—ã‹ã—ç”Ÿã¾ã‚ŒãŸã®ã¯ã€ãƒ¦ãƒ‹ã‚³ãƒ¼ãƒ³ã§ã¯ãªãè§’ãŒå¢—ãˆãŸé¹¿ã§ã‚ã£ãŸ
          |ã“ã‚Œã¯äººé–“ã®éƒ½åˆã§éºä¼å­ã‚’æŒ¯ã‚Šå›ã•ã‚ŒãŸé¹¿ã®æœ«è£”ãŒã€ç¥–å…ˆã®æ•µã‚’è¨ã¤ç‰©èªã¨ã„ã†è©±ã‚’å¦„æƒ³ã—ãªãŒã‚‰ä½œã‚Šã¾ã—ãŸ
          p
            a(href ="https://twitter.com/a3y53/status/1153326691592261632?s=20" target="_blank") https://twitter.com/a3y53/status/1153326691592261632?s=20
      .work
        .thumbnail
          img(src="./kasuniminikanLove.jpeg", alt="")
        .context
          h3 ã‚«ã‚¹ãƒ‹ãƒŸãƒ‹ã‚«ãƒ³ãƒ»ãƒ©ãƒ´ ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³
          span.logo logo
          p å¤±ã‚ã‚Œã‚†ãå¿ƒã‚’æŒã¤ã€ç ´æ£„ã•ã‚ŒãŸ3ä½“ã®æ©Ÿæ¢°ãŸã¡ã®ç‰©èªã‚’å¦„æƒ³ã—ãªãŒã‚‰åˆ¶ä½œã—ã¾ã—ãŸå¤±ã†ã‚‚ä½•ã‚‚ãã‚“ãªä½œå“ã‚ã‚Šã¾ã›ã‚“ãŒ
          p ã€Œã‚«ã‚¹ãƒ‹ãƒŸãƒ‹ã‚«ãƒ³ã€ã¯é€ èªã§ã™ã©ã‚“ãªæ„å‘³ã‹ã€ã¿ãªã•ã‚“ã‚‚è€ƒãˆã¦ã¿ã¦ãã ã•ã„
          p 
            a(href = "https://twitter.com/a3y53/status/1138396273902407681?s=20" target="_blank") https://twitter.com/a3y53/status/1138396273902407681?s=20
      .work
        .thumbnail
          img(src="./aelia.jpeg", alt="")
        .context
          h3 AELIA ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³
          span.logo logo
          p ãƒ­ã‚´ã®ãŠé¡Œã‚’å‡ºã—ã¦ã‚‚ã‚‰ã£ãŸã€ŒAELIAã€ã¨ã„ã†æ–‡å­—åˆ—ã‚’ã‚‚ã¨ã«åˆ¶ä½œé–‹å§‹ã—ã¾ã—ãŸéå»ã«ä½œã£ãŸå¤œç©ºã®ã‚¤ãƒ©ã‚¹ãƒˆã‚’ã‚¯ãƒªãƒƒãƒ—ã—ã¦ç”¨ã„ã¦ã„ã¾ã™
          p å®‡å®™ã®ã€Œã¨ã‚ã‚‹æ˜Ÿã€ã‚’èˆå°ã¨ã—ãŸç‰©èªã‚’å¦„æƒ³ã—ã¦æ§‹ç¯‰ã—ã¾ã—ãŸ
          p
            a(href = "https://twitter.com/a3y53/status/1139153486250045440?s=20" target="_blank") https://twitter.com/a3y53/status/1139153486250045440?s=20
      .work
        .thumbnail
          img(src="./cerebrum.png", alt="")
        .context
          h3 cerebrum ãƒ­ã‚´ãƒ‡ã‚¶ã‚¤ãƒ³
          span.logo logo
          p ä»Šå­£æ”¾é€ä¸­ã®ã‚ªãƒªã‚¸ãƒŠãƒ«ã‚¢ãƒ‹ãƒ¡ãƒ¼ã‚·ãƒ§ãƒ³ã€Œcerebrum(ã‚±ãƒ¬ãƒ–ãƒ©ãƒ )ã€ã®ãƒ­ã‚´ã‚’æ‹…å½“ã—ã¾ã—ãŸ
          p ç‰©èªã¯ã¨ã‚ã‚‹çŒŸå¥‡æ®ºäººäº‹ä»¶ã«ç«¯ã‚’ç™ºã—ã€ãã®æœæŸ»ã«é–¢ã‚ã£ãŸçµ„ç¹”ã‚„ä½æ°‘ã®è„³ãŒã‚ã¡ã‚ƒãã¡ã‚ƒã«ã•ã‚Œã¦ã—ã¾ã„ã¾ã™ãŒã€å®Ÿã¯ãã‚“ãªäº‹ä»¶ã¯èµ·ã“ã£ã¦ã¾ã›ã‚“ã—ã€ã“ã‚“ãªã‚¢ãƒ‹ãƒ¡ã‚‚æ”¾é€ã•ã‚Œã¾ã›ã‚“ã•ã‚ˆã†ãªã‚‰
          p 
            a(href = "https://twitter.com/a3y53/status/1318200795888668674?s=20" target="_blank") https://twitter.com/a3y53/status/1318200795888668674?s=20
      .work
        .thumbnail
          img(src="./hogehoge.png", alt="")
        .context
          h3 ãŠã¾ã‘(ã‚µãƒ¼ãƒ“ã‚¹åã¯ç§˜å¯†)
          span.logo logo
          p goolge meetãŒè¤‡æ•°äººæ•°ã§ã®é€šè©±ã«æ™‚é–“åˆ¶é™ã‚’ã‹ã‘ã¡ã‚ƒã£ãŸãŸã‚ã€å‹äººãŒãƒãƒƒãƒã§é€šè©±ã‚µãƒ¼ãƒ“ã‚¹ã‚’ä½œã£ã¦ãã‚Œã¾ã—ãŸ
          p ãªã®ã§ã€ãƒãƒƒãƒã§ãã‚Œã«ã‚ã¦ãŸãƒ­ã‚´ãƒãƒ¼ã‚¯ã§ã™
          p çã—ãä¿å­˜ã—ã¦ã„ãŸãƒ¡ã‚¤ã‚­ãƒ³ã‚°ã¯
            a(href = "https://twitter.com/a3y53/status/1411973100481089536?s=20" target="_blank") ã“ã¡ã‚‰
      .work
        .thumbnail
          img(src="./parasomnia-x.png", alt="")
        .context
          h3 PARASOMNIA - ãƒ‘ãƒ©ã‚½ãƒ ãƒ‹ã‚¢ ãƒ­ã‚´
          span.logo logo
          p ãƒªãƒãƒ“ãƒªã«æ‰‹æ›¸ãã—ã¾ãã£ãŸè‰æ¡ˆã®ä¸­ã«ã‚ã£ãŸæ„åŒ ã®ä¸€ã¤ã‚’ã‚‚ã¨ã«ä½œæˆ
          p æ‰‹æ›¸ãæ®µéšã§ä½•ã‚’è€ƒãˆãªãŒã‚‰ä½œã£ãŸã®ã‹ã¯è¦šãˆã¦ãªã„ãŒã€ãƒ‘ãƒ©ã‚½ãƒ ãƒ‹ã‚¢ã¯å¤¢éŠç—…ã¨ã„ã†æ„å‘³ã‚‰ã—ã„
        .thumbnail
          img(src="./parasomnia-x-making.png", alt="")
        
      .work
        .thumbnail
          img(src="./bb.png", alt="")
        .context
          h3 æ©Ÿå‹•éƒ¨éšŠBB ãƒ­ã‚´
          span.logo logo
          p ãƒ‘ãƒ©ã‚½ãƒ ãƒ‹ã‚¢åŒæ§˜ã€ãƒªãƒãƒ“ãƒªã«æ‰‹æ›¸ãã—ã¾ãã£ãŸè‰æ¡ˆã®ä¸­ã«ã‚ã£ãŸæ„åŒ ã®ä¸€ã¤ã‚’ã‚‚ã¨ã«ä½œæˆ
          p ã“ã‚Œã¯å­˜åœ¨ã—ãªã„ã‚·ãƒŠãƒªã‚ªã¾ã§ã¾ã§æƒ³åƒã—ãªãŒã‚‰ä½œã£ã¦æ¥½ã—ã‹ã£ãŸ
          details
            summary è½æ›¸ãã‚ã‚‰ã™ã˜
            p ã‹ã¤ã¦ã€å®™å¤–ç¨® - ã‚¹ãƒšãƒ¼ã‚¹ãƒ™ãƒãƒ  ã¨ã®å¤§æˆ¦äº‰ãŒèµ·ããŸéš›ã®æ¿€æˆ¦åŒºã«æ´¾é£ã•ã‚ŒãŸæ©Ÿå‹•éƒ¨éšŠç¬¬133å°éšŠãŒã€äººé¡ã®å¹³å’Œã¨å¼•ãæ›ãˆã«ãã®æ¶ˆæ¯ã‚’çµ¶ã£ã¦ã‹ã‚‰32å¹´ã€äº‹ã¯æ†²å…µã®é€£ç¶šè¡Œæ–¹ä¸æ˜äº‹ä»¶ã«ç«¯ã‚’ç™ºã™ã‚‹ã€‚
            p è¡Œæ–¹ä¸æ˜ã¨ã•ã‚Œã¦ã„ãŸå…µå£«ãŸã¡ã¯ï½¢ãªã«ã‹ï½£ã«ä¾µã•ã‚ŒãŸçŠ¶æ…‹ã§åˆ¶å¾¡ä¸èƒ½ãªåä¹±å…µã¨åŒ–ã—ã€äººã€…ã‚’è¹‚èº™ã—å§‹ã‚ã‚‹ã€‚
            p å…µå£«ãŸã¡ã‚’å¤‰ãˆãŸã®ã¯ã€æ ¹çµ¶ã•ã‚ŒãŸã¨æ€ã‚ã‚Œã¦ã„ãŸå®™å¤–ç¨® - ã‚¹ãƒšãƒ¼ã‚¹ãƒ™ãƒãƒ  ã§ã‚ã£ãŸãã‚Œã‚‰ã¯æ­»ã«çµ¶ãˆã¦ãŠã‚‰ãšã€å¹³å’Œã«ã‚ãã‚‰ã‚’ã‹ã„ãŸäººé¡ã«é€†è¥²ã™ã¹ãæ©Ÿä¼šã‚’ä¼ºã£ã¦ã„ãŸã®ã ã£ãŸã€‚
            p å„ªç§€ãªäººé–“ã®è„³ã‚’å–°ã‚‰ã„ã€è‚‰ä½“ã‚’ä¹—ã£å–ã‚Šã€æˆé•·ã™ã‚‹ã“ã¨ã§äººé¡ã‚’è„…ã‹ã™å®™å¤–ç¨® - ã‚¹ãƒšãƒ¼ã‚¹ãƒ™ãƒãƒ  ã®ä¾µæ”»ã«éš›ã—ã€å¹³å’Œãªæ™‚ä»£ã§è‚²ã£ãŸã‚‚ã®ãŸã¡ã«ã¯æ‰“ã¤æ‰‹ãŒç„¡ãã€æˆ¦ã†åŠ›ã®ã‚ã‚‹ã‚‚ã®ãŸã¡ã¯å®™å¤–ç¨® - ã‚¹ãƒšãƒ¼ã‚¹ãƒ™ãƒãƒ  ã«ä¾µé£Ÿã•ã‚Œã€å¸‚æ°‘ã¯æ··ä¹±ã®æœ€ä¸­ã«ãªã™ã™ã¹ã‚‚ãªãæ•é£Ÿã•ã‚Œã€æ¨©åŠ›è€…ã¯æˆ‘å…ˆã«é€ƒäº¡ã€‚å›½å®¶ã¯æ€¥é€Ÿã«æ©Ÿèƒ½ä¸å…¨ã«é™¥ã‚Šã€æ•°å°‘ãªã„æˆ¦åŠ›ã§ã‚ã‚‹æ†²å…µå›£ã‚‚å£Šæ»…é–“éš›ã®æœ‰ã‚Šæ§˜ã¨ãªã£ãŸã€‚
            p æ··ä¹±ã®ä¸­ã€ç”Ÿãæ®‹ã£ãŸã²ã¨ã‚Šã®æ†²å…µã®ã‚‚ã¨ã«ã€ï½¢BBï½£ã‚’åä¹—ã‚‹æ•°äººã®è€äººãŸã¡ãŒç¾ã‚Œã‚‹ã€‚

          a(href = "https://x.com/a3y53/status/1832765603892822135" target="_blank") https://x.com/a3y53/status/1832765603892822135

      .work#chorwakanimania
        .thumbnail
          img(src="./lw_wakanimania.png", alt="")
        .context
          h3.flag-icon-a Chor Wakanimania ãƒ­ã‚´
          span.logo logo
          p å’Œæ­Œå±±ã‚’æ‹ ç‚¹ã¨ã™ã‚‹åˆå”±å›£ï½¢Wakanimania(ãƒ¯ã‚«ãƒ‹ãƒãƒ‹ã‚¢)ï½£æ§˜ã®ãƒ­ã‚´ã‚’åˆ¶ä½œã—ã¾ã—ãŸã€‚
          p ã‚¢ãƒ‹ãƒ¡ã‚„ã‚²ãƒ¼ãƒ ã§å–ã‚Šæ‰±ã‚ã‚ŒãŸæ¥½æ›²ã«å–ã‚Šçµ„ã‚€ã€éå¸¸è¨­å‹ã®åˆå”±å›£ã§ã€ã€Œè‡ªåˆ†ãŸã¡ã§ç·¨æ›²ã™ã‚Œã°ã€é¸æ›²ã®å¹…ã¯ç„¡é™å¤§ã€ã‚’ã‚³ãƒ³ã‚»ãƒ—ãƒˆã¨ã—ã¦æ´»å‹•ä¸­ã§ã™ã€‚ã¿ã‚“ãªãŒçŸ¥ã£ã¦ã‚‹ã‚ã®æ›²ã‚‚æ­Œã£ã¦ã‚‹ã‹ã‚‚ã€‚
          ul 
            li ã‚ã‹ã‚„ã¾å†¬ã®ã†ãŸã¾ã¤ã‚Š2025ã‚³ãƒ³ãƒ†ã‚¹ãƒˆéƒ¨é–€(ä¸€èˆ¬ã®éƒ¨)<br>éŠ…è³ï½¥ç‰¹åˆ¥è³å—è³
            li ç¬¬58å›å’Œæ­Œå±±çœŒåˆå”±ç¥­å‚åŠ 
            li
              a(href="https://x.com/ChorWakanimania/status/1936330713936310606" target = "blank")
                |ç¬¬1å›ã¿ã‹ã‚“ã®ãã‚³ãƒ³ã‚µãƒ¼ãƒˆ(2025/10/13)å‚åŠ äºˆå®š
          p é€ å½¢ã¯å’Œå£°ã«ã‚ˆã‚‹ãƒ¬ã‚¤ãƒ¤ãƒ¼è¡¨ç¾ + â™ª ã‹ã‚‰
          a.letsgo(href="https://x.com/ChorWakanimania", target = "_blank") Chor Wakanimaniaã® ğ• ã‚¢ã‚«ã‚¦ãƒ³ãƒˆã¯ã“ã¡ã‚‰


    section.musics
      .work
        iframe(width="450" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/735348007&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true")
          div(style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;")
            a(href="https://soundcloud.com/em-ryu-g/remember" title="remember" target="_blank" style="color: #cccccc; text-decoration: none;") ryu-g remember
        .context
          h3 remember
          span.music MUSIC
          span.attention âš éŸ³ãŒé³´ã‚Šã¾ã™:éŸ³é‡æ³¨æ„
          span.illust illust
          p konamiã®sound voltexã® the 9th KACã«å¿œå‹Ÿã—ãŸæ¥½æ›²ã§ã™(è½é¸)
          p ç„¡ã„ãƒ­ã‚´åŒæ§˜ã€ã“ã¡ã‚‰ã‚‚ã‚¨ãƒ”ã‚½ãƒ¼ãƒ‰ã‚’æƒ³åƒã—ãªãŒã‚‰åˆ¶ä½œã—ã¾ã—ãŸ
          p ã‚¸ãƒ£ã‚±ã®ãƒ‰ãƒƒãƒˆã‚¤ãƒ©ã‚¹ãƒˆã‚‚ã“ã‚Œç”¨ã«ç”¨æ„ã—ãŸã‚ˆ
          p ã€Œè¦šãˆã¦ã„ã¾ã™ã‹ï¼Ÿã‚ã®æ¥½ã—ã‹ã£ãŸæ—¥ã€…ã‚’ã€ã¨ã„ã£ãŸæ„Ÿã˜
      .work 
        iframe(width="450" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1072002010&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true")
          div(style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;")
            a(href="https://soundcloud.com/em-ryu-g/aelia" title="ryu-g" target="_blank" style="color: #cccccc; text-decoration: none;") ryu-g AELIA
        .context
          h3 AELIA
          span.music MUSIC
          span.attention âš éŸ³ãŒé³´ã‚Šã¾ã™:éŸ³é‡æ³¨æ„
          p the 10th KONAMI Arcade Championship (KAC) ã«å¿œå‹Ÿã—ãŸæ¥½æ›²(è½é¸)
          p 9thã§è½é¸ã—ãŸrememberã§ç”¨ã„ãŸãƒ•ãƒ¬ãƒ¼ã‚ºã‚’åŸºè»¸ã«å†æ§‹ç¯‰ã—ã¾ã—ãŸ
          p ã‚¸ãƒ£ã‚±ãƒƒãƒˆãŠã‚ˆã³åå‰ã¯AELIAã®ã‚‚ã®ã‚’ä½¿ç”¨
      .work
        iframe(width="450" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1410854248&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true")
          div(style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;")
            a(href="https://soundcloud.com/em-ryu-g/aelia" title="ryu-g" target="_blank" style="color: #cccccc; text-decoration: none;") ryu-g JUKE BOX 
        .context
          h3 JUKE BOX 
          span.music MUSIC
          span.attention âš éŸ³ãŒé³´ã‚Šã¾ã™:éŸ³é‡æ³¨æ„
          p å‹äººãŒå§‹ã‚ãŸã€èº«å†…ç”¨ã®ãƒ©ã‚¸ã‚ªç•ªçµ„ã®OPãƒ†ãƒ¼ãƒæ›²ã¨ã—ã¦åˆ¶ä½œï½¥æä¾›
          p ãŠæ°—ã«å…¥ã‚Šã®æ›²ã®ã²ã¨ã¤ã‹ã‚ã„ã„ç³»
      .work
        iframe(width="450" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1606583013&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true")
          div(style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;")
            a(href="https://soundcloud.com/em-ryu-g/aelia" title="ryu-g" target="_blank" style="color: #cccccc; text-decoration: none;") ryu-g ultrasonic  
        .context
          h3 ultrasonic 
          span.music MUSIC
          span.attention âš éŸ³ãŒé³´ã‚Šã¾ã™:éŸ³é‡æ³¨æ„
          span.illust illust
          p KACã«å†æŒ‘æˆ¦ã—ã‚ˆã†ã¨æ€ã„ä½œã‚Šå§‹ã‚ã¦ã€å®Œæˆã¾ã§1å¹´åŠä»¥ä¸Šã“ã­ãã‚Šå›ã™ç¾½ç›®ã«ãªã‚Šã€ã¤ã„ãå…¬å‹Ÿã«å‡ºã•ãªã‹ã£ãŸä½œå“
          p ãŠæ°—ã«å…¥ã‚Šã®æ›²ã®ã²ã¨ã¤é¨’ãŒã—ã„ç³»
          p ã“ã‚Œã®åˆ¶ä½œéç¨‹ã§vitalã¨ã„ã†ã‚·ãƒ³ã‚»ã‚µã‚¤ã‚¶ãƒ¼(ç„¡æ–™ã§ä½¿ãˆã‚‹!)ã‚’è¦šãˆã‚‰ã‚Œã¦ã‚ˆã‹ã£ãŸ
    
      .work
        <iframe width="450" height="250" src="https://www.youtube.com/embed/YRtCPXYq8lY?si=893KvS0PzFhOnepC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        .context
          h3 tick tack star 
          span.music MUSIC
          span.attention âš éŸ³ãŒé³´ã‚Šã¾ã™:éŸ³é‡æ³¨æ„
          span.illust illust
          span.movie MOVIE
          p è½ã¡ç€ã„ãŸæ›²ã¨ã—ã¦ä½œã£ãŸã‚„ã¤
          p vitalã®ã‚·ãƒ³ã‚»ã§æ½œæ°´è‰¦ã®ã‚½ãƒŠãƒ¼ã¿ãŸã„ãªéŸ³ä½¿ã£ã¦ã¿ãŸã„ãªã£ã¦æ€ã£ã¦ãã‚ŒåŸºæº–ã§ä½œã£ãŸ
          p çµµã¯photoshopã§æã„ãŸ æ„å¤–ã¨ãã‚Œã„ã«å‡ºæ¥ã¦èª‡ã‚‰ã—ã„ã®ã§è¦‹ã¦(å¼·æ¬²)
          p å…¬é–‹è‡ªä½“ã¯2022å¹´ã ã‘ã©ä¸æ€è­°ã¨ã‚³ã‚¢ãªãƒ•ã‚¡ãƒ³ãŒã¤ã„ã¦ã‚‹ ã‚ã‚ŠãŒã¨ã­
      
      .work
        <iframe width="450" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/2082961704&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        .context
          h3.flag-icon-b steppy 
          span.music MUSIC
          span.attention âš éŸ³ãŒé³´ã‚Šã¾ã™:éŸ³é‡æ³¨æ„
          span.illust illust
          p ãƒªãƒªãƒ¼ã‚¹ã‚«ãƒƒãƒˆãƒ”ã‚¢ãƒã®ã‚ˆã†ãªéŸ³ã‚’æ‰±ã†äº‹ãŒã§ãã‚‹ã‚ˆã†ã«ãªã£ãŸè¨˜å¿µã«ä½œã£ãŸ
          p ãŠæ•£æ­©ã—ãŸã¨ãã«ã€å…¬åœ’ã«ãŸãã•ã‚“ã©ã‚“ãã‚ŠãŒè½ã¡ã¦ã„ãŸã®ã§ã€æ˜”æã„ãŸã©ã‚“ãã‚Šã‚’ã‚¸ãƒ£ã‚±ãƒƒãƒˆã«ã—ãŸ

    section.devs
      .work
        .thumbnail
          img(src="plainplane.png", alt="")
        .context
          h3 PlainPlane - jsã§ã‚²ãƒ¼ãƒ ã‚’ä½œã‚ŠãŸã„
          span.dev GAME
          p é£›è¡Œæ©Ÿã‚’æ“ä½œã—ã¦å¯¾æˆ¦ã™ã‚‹ã‚²ãƒ¼ãƒ ã‚’ä½œã‚ã†ã¨ã—ã¦ãŸ(2021å¹´)
          p ä»Šã¯ã‚«ã‚«ã‚·ã‚’å€’ã™ã‚µãƒ³ãƒ—ãƒ«çŠ¶æ…‹ã§å…¬é–‹ã•ã‚Œã¦ã„ã¾ã™PCæ¨å¥¨
          p Qãƒ»Wã§æ­¦è£…ã‚’å¼·åŒ–ã§ãã‚‹ã‚ˆ
          p
            a(href ='https://plain-plane.netlify.app/' target="_blank") PLAY : https://plain-plane.netlify.app/ 


script(src = './app.js' type ='module')  
script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")